*{
    margin: 0;
    padding: 0;
    font-family: "Poppins","sans-sefif";
    box-sizing: border-box;
}
body{
    background-color:#fff;
    color: black;


}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-color: whitesmoke;
    position:fixed;
    word-spacing: 10px;
    width: 100%;
    height: 15%;
   
   
}
.navbar img{
    margin-left: 90px;

}

.navbar ul li{
    display: inline-block;
    list-style: none;
    align-items: flex-start;
    margin: 10px 8px;
    
}

.navbar ul li a{
    color:black;
    text-decoration: none;
    float: right;
    text-align: center;
    /* padding: 13px 12px; */
    font-size: 16px;
    position: relative;
  
}
.navbar ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5%;
    
}

.navbar ul li a:hover::after{
    width: 100%;
   
}

.header-test{
    margin-top: 15%;
    margin-left: 60px;
    font-size: 30px;
    
}
.header-test h3{
    font-size:25px;
    margin-left: 80px;
    word-spacing: 5px;
    letter-spacing: 5px;

}
.header-test h2 span{
    color: #ff004f;
    word-spacing: 9px;

}

.header-1 h1 span{
    color: #ff004f;
}
.header-1{
    margin-top: 15%;
    margin-right: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    word-spacing: 8px;
}

button{
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 18px 2px;
  cursor: pointer;
}
button a{
    text-decoration: none;
}
.b1 :hover{
    background-color:cornflowerblue;
    transition: 1s;
}


.ConServ{
    border: black 0.1px solid;
    border-radius: 2px;
    margin-left: 10px;
    margin-bottom: 10px;

}


#SERVICE h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    margin-top: 0px;
}


#portfolio h1{
    margin-top: 90px;
    
}

.project-image{
    display: flex;
}

.im{
    margin-top: 40px;
    flex: 33.33%;
    margin-left: 50px;
    /* padding: 3px; */
    
}


#portfolio h1 span{
    color:red;
}

#portfolio h2{
    margin-top: 15px;
    margin-left: 60px;
}
.ConServ{
    float: right;
    margin-bottom: 50px;
}

#strength h1{
    margin-top: 0px;
    
}
.row{
    display: flex;
}
.col{
    margin-left: 50px;
    flex: 33.33%;
    padding: 5px;
}
.name{
    display: flex;
}
.dname{
    margin-left: 50px;
    flex: 33.33%;
    padding: 5px;
}

.serv1 {
    display: flex;

}

.simg{
    margin-left: 50px;
    flex: 33.33%;
    padding: 10px;
    border: 6px solid;

}
.imgs1{
    float: left;
}

.row1{
    display: flex;
    margin-left: 27px;
}
.col1{
    margin-left: 15px;
    width: 20.33%;
    padding: 1px;
    border: 0.1px solid;
}
#SERVICE h1{
    text-shadow:2px 2px blanchedalmond;
    margin-top: 10%;
}
.row2{
    margin-left: 33px;
}
#SERVICE .s1{
    display: flex;
    margin-left: 33px;
    
}
#SERVICE .ss1{
    margin-left: 50px;
    width: 20.33%;
    padding: 5px;
    /* background-color: bisque; */
    border: 0px solid;
    word-spacing: 10px;
    font-size: 20px;
}

.ss1:hover{
    background-color: bisque;
    transition: 1s;

}
.p{
    margin-top: 105px;
    
    
}

.imq{
    margin-right: 30px;
}
.imq1{
    margin-right: 30px;
}
.imq2{
    margin-right: 30px;
}